<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="rapBean" class="org.example.Classes.RapMusic"/>
    <bean id="classicBean" class="org.example.Classes.ClassicMusic"/>
    <bean id="reggyBean" class="org.example.Classes.ReggyMusic" init-method="Init" destroy-method="Dest"/>

<!--    <bean id="musicListPlayer" class="org.example.Classes.MusicPlayer">-->
<!--        <constructor-arg>-->
<!--            <list>-->
<!--                <ref bean="rapBean"/>-->
<!--                <ref bean="classicBean"/>-->
<!--                <ref bean="reggyBean"/>-->
<!--            </list>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
    <bean id="musicPlayer" class="org.example.Classes.MusicPlayer">
        <property name="playerName" value="${playerName}"/>
        <property name="volume" value="${volume}"/>
    </bean>




</beans>